$color-def: #000;
$green: #00965E;

* {
	box-sizing: border-box !important;
	background-repeat: no-repeat !important;
	word-break: break-word !important;
	padding: 0;
	margin: 0;
	color: $color-def;
	font-family: 'Roboto Flex';
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 2%;
	vertical-align: middle;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Roboto Flex';
	background-color: #E9E9E9;
}

h1 {
	font-family: 'Roboto Flex';
	font-weight: 600;
	font-size: 54px;
	line-height: 120%;
	letter-spacing: 0%;
}

h2 {
	font-family: 'Roboto Flex';
	font-weight: 600;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
}

h3,
h4,
h5,
h6 {
	font-family: 'Roboto Flex';
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
	text-transform: uppercase;
}

@media (max-width: 500px) {
	h1 {
		font-family: 'Roboto Flex';
		font-weight: 600;
		font-size: 36px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	h2 {
		font-family: 'Roboto Flex';
		font-weight: 600;
		font-size: 24px;
		line-height: 150%;
		letter-spacing: 0%;
		vertical-align: middle;
	}

	h3,
	h4,
	h5,
	h6 {
		font-family: 'Roboto Flex';
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0%;
		vertical-align: middle;
		text-transform: uppercase;
	}
}

a {
	text-decoration: none;
	transition: .5s;
	cursor: pointer;
}

a:hover {
	color: $green;
	transition: .5s;
}

main {
	position: relative;
}

.padding {
	padding: 0 16px;
}

.flex {
	display: flex;
}

.flex-direct {
	flex-direction: column;
}

.def_div {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}

.button {
	background-color: $green;
	border-radius: 8px;
	width: 100%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	cursor: pointer;
	transition: .5s;
}

.button:hover {
	transition: .5s;
	background-color: #000;
	color: #FFF;
}

.button_1 {
	background-color: $color-def;
	border-radius: 8px;
	width: 100%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	cursor: pointer;
	transition: .5s;
}

.button_1:hover {
	transition: .5s;
	background-color: #FFF;
	color: $color-def;
}

// button:disabled {
// 	opacity: .6 !important;
// 	cursor: default !important;
// }

// button:disabled:hover {
// 	opacity: .6 !important;
// 	cursor: default !important;
// }

.invise {
	display: none !important;
	height: 0 !important;
	width: 0 !important;
}

.default {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.default a {
	color: $green;
	text-decoration: underline;
	display: inline-block;
}

.default a:hover {
	opacity: .7;
}

.default ul {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.default ol {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-left: 0;
}

.default ul li {
	list-style: disc;
}

.default ul li::marker {
	color: $color-def;
}

.default table {
	width: 100%;
}

.default caption {
	border-bottom: none;
	background-color: #908ea3;
}

.default thead th {
	background-color: #908ea3;
}

.default tbody td {
	background-color: #d4d4da;
	text-align: center;
}

.fancybox-button *,
.fancybox-infobar * {
	color: #FFF !important;
}

.fancybox-caption__body {
	color: #FFF;
}

[data-href] {
	cursor: pointer;
}

.before {
	display: flex;
	gap: 10px;
}

.before::before {
	min-width: 24px;
	min-height: 24px;
	max-width: 24px;
	max-height: 24px;
}