header {
	padding: 0 16px;
	display: flex;
}

.header_top_mob_container {
	display: none;
}

.header_container {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	padding: 22px 0;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;

	.left {
		display: flex;
		gap: 60px;
		align-items: center;

		.logo {
			display: flex;
			flex-direction: column;

			p {
				font-family: Gilroy;
				font-weight: 700;
				font-size: 20px;
				line-height: 110.00000000000001%;
				letter-spacing: 0%;
				text-align: center;
				white-space: nowrap;
			}

			span {
				font-family: Gilroy;
				font-weight: 700;
				font-size: 24px;
				line-height: 110.00000000000001%;
				letter-spacing: 0%;
				text-align: center;
				font-weight: 900;
				color: $green;
				white-space: nowrap;
			}
		}
	}

	.right {
		display: flex;
		gap: 40px;

		.button {
			width: 100%;
			max-width: 118px;
			height: 50px;

			font-family: Roboto Flex;
			font-weight: 700;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0%;
		}
	}

	.logo_2 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 70px;
		height: 70px;
	}
}

.header_contact_cont.adres::before {
	content: url('./../img/location-24.svg');
}

.header_contact_cont.phone::before {
	content: url('./../img/phone-24.svg');
}

.header_contact_cont {
	.cont {
		display: flex;
		flex-direction: column;

		* {
			font-family: 'Roboto Flex';
			font-weight: 500;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0%;
			color: #393939;
		}

		span {
			font-family: Roboto Flex;
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0%;
			color: #71717a;
		}
	}
}

.header_contact_cont.phone {
	.cont {
		a {
			font-family: Roboto Flex;
			font-weight: 600;
			font-size: 20px;
			line-height: 140%;
			letter-spacing: 0%;
			white-space: nowrap;
		}

		a:hover {
			color: $green;
		}
	}
}

.header_mob_phone {
	display: none;
}

@media (max-width: 960px) {

	header {
		padding: 0;
		flex-direction: column;
	}

	.header_container {
		padding: 10px 16px;
		background-color: #FFF;
	}

	.header_contact_cont.adres,
	.header_contact_cont.phone::before,
	.header_contact_cont .phone_cont,
	.header_container .right .button {
		display: none;
	}

	.header_mob_phone {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			min-width: 48px;
			min-height: 48px;
			max-width: 48px;
			max-height: 48px;
		}
	}

	.header_container .logo_2 {
		width: 50px;
		height: auto;
		aspect-ratio: 1/1;
	}

	.header_top_mob_container {
		display: block;
		padding: 5px 16px;

		.before {
			font-family: Roboto Flex;
			font-weight: 500;
			font-size: 14px;
			line-height: 140%;
			letter-spacing: 0%;
			color: #393939;
			align-items: center;
		}
	}

	.header_top_mob_container {

		.before::before {
			content: url('./../img/location-24.svg');
		}
	}
}